fastapi==0.115.12
uvicorn[standard]
SQLAlchemy==2.0.46
psycopg2-binary
pydantic==2.12.5
pydantic-settings
python-dotenv
passlib[bcrypt]
python-jose[cryptography]
python-multipart
email-validator
slowapi
fastapi-mail==1.4.1
aiosmtplib>=2.0,<3.0
